@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

header{
    background-color:black;
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: red;
    font-size: 1.6em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
header a:hover{
    color: rgb(209, 35, 35);
}
section{ 
    text-align: center;
  
}


button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: red;
}

button:hover{
    background-color: rgb(236, 96, 54);
}

.color-acento{ color:red; }

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/cuantos-lenguajes-de-programacion-existen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero h1{
    color: white;
}
#hero button{
    font-size: 20px;
}

#somostecnocod.container{
    text-align: center;
    padding: 200px 12px;
    
}


/* carta de ejemplo inicio */

.contenedor_carta{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cartas{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.cartas:hover{
    width: 350px;
}

.cartas .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.cartas .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.cartas:hover .cover img{
    top: 0px;
    filter: none;
}

.cartas .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.cartas:nth-of-type(1) .img__back{
    background-image: url(/imagenes/Programador-33-696x464.jpg);
}

.cartas:nth-of-type(2) .img__back{
    background-image: url(/imagenes/programadores-en-la-industria-4-0-universidad-continental.jpg);
}

.cartas:nth-of-type(3) .img__back{
    background-image: url(/imagenes/images.jpg);
}

.cartas:hover .img__back{
    bottom: -40px;
}

.cartas .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.cartas:hover .description{
    padding: 40px;
}

.cartas .description h2{
    margin-top: 10px;
}

.cartas .description p{
    margin-top: 10px;
}

.cartas .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: red;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.cartas .description input:hover{
    background: black;
}


/* carta de ejemplo final */

/* inicio de carta cursos */

.contenedor_cartas{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.carta:hover{
    width: 350px;
}

.carta .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.carta .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.carta:hover .cover img{
    top: 0px;
    filter: none;
}

.carta .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.carta:nth-of-type(1) .img__back{
    background-image: url(/imagenes/CSS3_and_HTML5_logos_and_wordmarks.svg_.png);
}

.carta:nth-of-type(2) .img__back{
    background-image: url(/imagenes/065633boo14lah77u6o1ug.png);
}

.carta:nth-of-type(3) .img__back{
    background-image: url(/imagenes/JavaScript-logo-600x375.png);
}

.carta:hover .img__back{
    bottom: -40px;
}

.carta .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.carta:hover .description{
    padding: 40px;
}

.carta .description h2{
    margin-top: 10px;
}

.carta .description p{
    margin-top: 10px;
}

.carta .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: red;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.carta .description input:hover{
    background: black;
}

/* final de carta cursos  */




#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}


footer{
    width: 100%;
    background: #4f4d4d;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: white;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 50vh;
}



.container-footer{
    width: 100%;  
    background: black;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color:white;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: white;
}














@media (min-width: 850px){
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    
    #hero h1{
        font-size: 5em;
    }
    
    
    #somostecnocod.container{
        display: flex;
        justify-content: space-evenly;
    }
    

    
    #somostecnocod h2{
        margin-top: 0px;
    }
}
